In [22]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_extract,count,when,avg
import pandas as pd

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_extract,count,when
import pandas as pd
# 创建 SparkSession
spark = SparkSession.builder.appName("OlympicsEDA").getOrCreate()
# 定义文件路径
csv_file_path = "E:\\hku\\cloud cluster\\ex4\\after1958.csv"


semicolon_csv_file_path = "E:\\hku\\cloud cluster\\ex4\\after1958_semicolon.csv"

# 使用 Pandas 读取原始 CSV 文件，并将其转换为分号分隔符
df = pd.read_csv(csv_file_path, encoding="UTF-8")
df.to_csv(semicolon_csv_file_path, sep=';', index=False, encoding="UTF-8")
# 读取使用分号分隔符的新 CSV 文件
spark_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("encoding", "UTF-8") \
    .option("delimiter", ";") \
    .csv(semicolon_csv_file_path)

# 打印 Schema
spark_df.printSchema()

# 显示数据的前几行
spark_df.show(50)

# 获取数值列的统计信息aa
spark_df.describe().show()

# 计算总行数
total_rows = spark_df.count()
print(f"Total Rows: {total_rows}")

# 打印 DataFrame 的列名和数据类型
print("DataFrame 的列名和数据类型:")
print(spark_df.dtypes)

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

+---+--------------------+---+----+------+------+-----------+---+-----------+----+------+--------------+-------------+--------------------+------+
| ID|                Name|Sex| Age|Height|Weight|       Team|NOC|      Games|Year|Season|          City|        Sport|               Event| Medal|
+---+--------------------+---+----+------+------+-----------+---+-----------+----+------+--------------+-------------+--------------------+------+
|  1|           A Dijiang|  M|24.0| 180.0|  80.0|      China|CHN|1992 Summer|1992|Summer|     Barcelona|   Basketball|Basketball Men's ...|  NULL|
|  2|            A Lamusi|  M|23.0| 170.0|  60.0|      China|CHN|2012 Summer|2012|Summer|        London|         Judo|Judo Men's Extra-...|  NULL|
| 12|   Jyri Tapani Aalto|  M|31.0| 172.0|  70.0|    Finland|FIN|2000 Summer|2000|Summer|        Sydney|    Badminton|Badminton Men's S...|  NULL|
| 13|  Minna Maarit Aalto|  F|30.0| 159.0|  55.5|    Finland|FIN|1996 Summer|1996|Summer|       Atlanta|      Sailing|Sailing Women's W...|  NULL|
| 13|  Minna Maarit Aalto|  F|34.0| 159.0|  55.5|    Finland|FIN|2000 Summer|2000|Summer|        Sydney|      Sailing|Sailing Women's W...|  NULL|
| 18|Timo Antero Aaltonen|  M|31.0| 189.0| 130.0|    Finland|FIN|2000 Summer|2000|Summer|        Sydney|    Athletics|Athletics Men's S...|  NULL|
| 21|Ragnhild Margreth...|  F|27.0| 163.0|  NULL|     Norway|NOR|2008 Summer|2008|Summer|       Beijing|     Handball|Handball Women's ...|  Gold|
| 22|       Andreea Aanei|  F|22.0| 170.0| 125.0|    Romania|ROU|2016 Summer|2016|Summer|Rio de Janeiro|Weightlifting|Weightlifting Wom...|  NULL|
| 23|         Fritz Aanes|  M|22.0| 187.0|  89.0|     Norway|NOR|2000 Summer|2000|Summer|        Sydney|    Wrestling|Wrestling Men's L...|  NULL|
| 23|         Fritz Aanes|  M|26.0| 187.0|  89.0|     Norway|NOR|2004 Summer|2004|Summer|        Athina|    Wrestling|Wrestling Men's L...|  NULL|
| 27|       Johan Aantjes|  M|26.0|  NULL|  NULL|Netherlands|NED|1984 Summer|1984|Summer|   Los Angeles|   Water Polo|Water Polo Men's ...|  NULL|
| 28|    Jan-Erik Aarberg|  M|43.0| 170.0|  77.0|     Norway|NOR|1968 Summer|1968|Summer|   Mexico City|      Sailing|Sailing Mixed Thr...|  NULL|
| 28|    Jan-Erik Aarberg|  M|47.0| 170.0|  77.0|     Norway|NOR|1972 Summer|1972|Summer|        Munich|      Sailing|Sailing Mixed Thr...|  NULL|
| 29|Willemien Aardenburg|  F|22.0|  NULL|  NULL|Netherlands|NED|1988 Summer|1988|Summer|         Seoul|       Hockey|Hockey Women's Ho...|Bronze|
| 30|    Pepijn Aardewijn|  M|26.0| 189.0|  72.0|Netherlands|NED|1996 Summer|1996|Summer|       Atlanta|       Rowing|Rowing Men's Ligh...|Silver|
| 30|    Pepijn Aardewijn|  M|30.0| 189.0|  72.0|Netherlands|NED|2000 Summer|2000|Summer|        Sydney|       Rowing|Rowing Men's Ligh...|  NULL|
| 33| Mika Lauri Aarnikka|  M|24.0| 187.0|  76.0|    Finland|FIN|1992 Summer|1992|Summer|     Barcelona|      Sailing|Sailing Men's Two...|  NULL|
| 33| Mika Lauri Aarnikka|  M|28.0| 187.0|  76.0|    Finland|FIN|1996 Summer|1996|Summer|       Atlanta|      Sailing|Sailing Men's Two...|  NULL|
| 34|Jamale (Djamel-) ...|  M|30.0| 187.0|  76.0|     France|FRA|2012 Summer|2012|Summer|        London|    Athletics|Athletics Men's 1...|  NULL|
| 36|Stefan Remco Aartsen|  M|21.0| 194.0|  78.0|Netherlands|NED|1996 Summer|1996|Summer|       Atlanta|     Swimming|Swimming Men's 10...|  NULL|
| 36|Stefan Remco Aartsen|  M|21.0| 194.0|  78.0|Netherlands|NED|1996 Summer|1996|Summer|       Atlanta|     Swimming|Swimming Men's 20...|  NULL|
| 36|Stefan Remco Aartsen|  M|21.0| 194.0|  78.0|Netherlands|NED|1996 Summer|1996|Summer|       Atlanta|     Swimming|Swimming Men's 4 ...|  NULL|
| 36|Stefan Remco Aartsen|  M|25.0| 194.0|  78.0|Netherlands|NED|2000 Summer|2000|Summer|        Sydney|     Swimming|Swimming Men's 10...|  NULL|
| 36|Stefan Remco Aartsen|  M|25.0| 194.0|  78.0|Netherlands|NED|2000 Summer|2000|Summer|        Sydney|     Swimming|Swimming Men's 20...|  NULL|
| 37|  Ann Kristin Aarnes|  F|23.0| 182.0|  64.0|     Norway|NOR|1996 Summer|1996|Summer|       Atlanta|     Football|Football Women's ...|Bronze|
| 43|Morten Gjerdrum A...|  M|34.0| 185.0|  75.0|     Norway|NOR|1992 Summer|1992|Summer|     Barcelona|Equestrianism|Equestrianism Mix...|  NULL|
| 46|          Hans Aasns|  M|53.0| 194.0|  93.0|     Norway|NOR|1956 Summer|1956|Summer|     Melbourne|     Shooting| Shooting Men's Trap|  NULL|
| 46|          Hans Aasns|  M|57.0| 194.0|  93.0|     Norway|NOR|1960 Summer|1960|Summer|          Roma|     Shooting| Shooting Men's Trap|  NULL|
| 48|    Abdelhak Aatakni|  M|24.0|  NULL|  64.0|    Morocco|MAR|2012 Summer|2012|Summer|        London|       Boxing|Boxing Men's Ligh...|  NULL|
| 49|        Moonika Aava|  F|24.0| 168.0|  65.0|    Estonia|EST|2004 Summer|2004|Summer|        Athina|    Athletics|Athletics Women's...|  NULL|
| 49|        Moonika Aava|  F|28.0| 168.0|  65.0|    Estonia|EST|2008 Summer|2008|Summer|       Beijing|    Athletics|Athletics Women's...|  NULL|
| 50|          Arvi Aavik|  M|22.0| 185.0| 106.0|    Estonia|EST|1992 Summer|1992|Summer|     Barcelona|    Wrestling|Wrestling Men's H...|  NULL|
| 50|          Arvi Aavik|  M|26.0| 185.0| 106.0|    Estonia|EST|1996 Summer|1996|Summer|       Atlanta|    Wrestling|Wrestling Men's H...|  NULL|
| 51|   Nstor Abad Sanjun|  M|23.0| 167.0|  64.0|      Spain|ESP|2016 Summer|2016|Summer|Rio de Janeiro|   Gymnastics|Gymnastics Men's ...|  NULL|
| 51|   Nstor Abad Sanjun|  M|23.0| 167.0|  64.0|      Spain|ESP|2016 Summer|2016|Summer|Rio de Janeiro|   Gymnastics|Gymnastics Men's ...|  NULL|
| 51|   Nstor Abad Sanjun|  M|23.0| 167.0|  64.0|      Spain|ESP|2016 Summer|2016|Summer|Rio de Janeiro|   Gymnastics|Gymnastics Men's ...|  NULL|
| 51|   Nstor Abad Sanjun|  M|23.0| 167.0|  64.0|      Spain|ESP|2016 Summer|2016|Summer|Rio de Janeiro|   Gymnastics|Gymnastics Men's ...|  NULL|
| 51|   Nstor Abad Sanjun|  M|23.0| 167.0|  64.0|      Spain|ESP|2016 Summer|2016|Summer|Rio de Janeiro|   Gymnastics|Gymnastics Men's ...|  NULL|
| 51|   Nstor Abad Sanjun|  M|23.0| 167.0|  64.0|      Spain|ESP|2016 Summer|2016|Summer|Rio de Janeiro|   Gymnastics|Gymnastics Men's ...|  NULL|
| 52|       Patrick Abada|  M|22.0| 189.0|  80.0|     France|FRA|1976 Summer|1976|Summer|      Montreal|    Athletics|Athletics Men's P...|  NULL|
| 53|        Talaat Abada|  M|24.0| 172.0|  58.0|      Egypt|EGY|2000 Summer|2000|Summer|        Sydney|    Taekwondo|Taekwondo Men's F...|  NULL|
| 55| Antonio Abadia Beci|  M|26.0| 170.0|  65.0|      Spain|ESP|2016 Summer|2016|Summer|Rio de Janeiro|    Athletics|Athletics Men's 5...|  NULL|
| 56|          Ren Abadie|  M|21.0|  NULL|  NULL|     France|FRA|1956 Summer|1956|Summer|     Melbourne|      Cycling|Cycling Men's Roa...|  NULL|
| 56|          Ren Abadie|  M|21.0|  NULL|  NULL|     France|FRA|1956 Summer|1956|Summer|     Melbourne|      Cycling|Cycling Men's Roa...|  Gold|
| 57|  Borislav Abadzhiev|  M|24.0| 176.0|  66.0|   Bulgaria|BUL|1988 Summer|1988|Summer|         Seoul|       Boxing|Boxing Men's Ligh...|  NULL|
| 59|Ivan Nikolov Abad...|  M|24.0| 164.0|  71.0|   Bulgaria|BUL|1956 Summer|1956|Summer|     Melbourne|Weightlifting|Weightlifting Men...|  NULL|
| 59|Ivan Nikolov Abad...|  M|28.0| 164.0|  71.0|   Bulgaria|BUL|1960 Summer|1960|Summer|          Roma|Weightlifting|Weightlifting Men...|  NULL|
| 60|   Mikhail Abadzhiev|  M|24.0| 172.0|  75.0|   Bulgaria|BUL|1960 Summer|1960|Summer|          Roma|Weightlifting|Weightlifting Men...|  NULL|
| 61|    Stefan Abadzhiev|  M|26.0| 175.0|  72.0|   Bulgaria|BUL|1960 Summer|1960|Summer|          Roma|     Football|Football Men's Fo...|  NULL|
| 62|   Giovanni Abagnale|  M|21.0| 198.0|  90.0|      Italy|ITA|2016 Summer|2016|Summer|Rio de Janeiro|       Rowing|Rowing Men's Coxl...|Bronze|
+---+--------------------+---+----+------+------+-----------+---+-----------+----+------+--------------+-------------+--------------------+------+
only showing top 50 rows

+-------+-----------------+--------+------+-----------------+------------------+------------------+---------+------+-----------+------------------+------+------+---------+--------------------+------+
|summary|               ID|    Name|   Sex|              Age|            Height|            Weight|     Team|   NOC|      Games|              Year|Season|  City|    Sport|               Event| Medal|
+-------+-----------------+--------+------+-----------------+------------------+------------------+---------+------+-----------+------------------+------+------+---------+--------------------+------+
|  count|           171394|  171394|171394|           169741|            161198|            160867|   171394|171394|     171394|            171394|171394|171394|   171394|              171394| 24438|
|   mean|68055.52561933323|    NULL|  NULL|25.00263931519197|175.51069492177322| 70.63659420515083|     NULL|  NULL|       NULL|1990.3137799456224|  NULL|  NULL|     NULL|                NULL|  NULL|
| stddev|39166.79639771686|    NULL|  NULL|5.706778384809268|11.037036260688192|14.905518558822084|     NULL|  NULL|       NULL|17.617816381855675|  NULL|  NULL|     NULL|                NULL|  NULL|
|    min|                1|  Th Anh|     F|             11.0|             127.0|              25.0|Acipactli|   AFG|1956 Summer|              1956|Summer|Athina|  Archery|Archery Men's Ind...|Bronze|
|    max|           135568|zzet nce|     M|             71.0|             226.0|             214.0| Zimbabwe|   ZIM|2016 Summer|              2016|Summer| Tokyo|Wrestling|Wrestling Women's...|Silver|
+-------+-----------------+--------+------+-----------------+------------------+------------------+---------+------+-----------+------------------+------+------+---------+--------------------+------+

Total Rows: 171394
DataFrame 的列名和数据类型:
[('ID', 'int'), ('Name', 'string'), ('Sex', 'string'), ('Age', 'double'), ('Height', 'double'), ('Weight', 'double'), ('Team', 'string'), ('NOC', 'string'), ('Games', 'string'), ('Year', 'int'), ('Season', 'string'), ('City', 'string'), ('Sport', 'string'), ('Event', 'string'), ('Medal', 'string')]

In [24]:
# 定义正则表达式模式来匹配 "aaaa Summer" 格式
pattern = r"^\d{4} Summer$"

# 使用正则表达式提取并过滤符合格式的行
invalid_games_df = spark_df.filter(regexp_extract(col("Games"), pattern, 0) == "")

# 显示不符合格式的行
invalid_games_count = invalid_games_df.count()

if invalid_games_count > 0:
    print(f"以下行的 'Games' 列不符合 'aaaa Summer' 格式:")
    invalid_games_df.show(invalid_games_count, truncate=False)
else:
    print("所有行的 'Games' 列均符合 'aaaa Summer' 格式.")

所有行的 'Games' 列均符合 'aaaa Summer' 格式.

In [25]:
# 统计 Games 列每一个元素对应的 Weight 列为 NULL 的行和 Height 列为 NULL 的行
na_stats = spark_df.groupBy("Games").agg(
    count(when(col("Weight").isNull(), True)).alias("Weight_NA_Count"),
    count(when(col("Height").isNull(), True)).alias("Height_NA_Count")
)



# 按 Weight_NA_Count 列进行降序排序
na_stats_sorted = na_stats.orderBy(col("Weight_NA_Count").desc(), col("Height_NA_Count").desc())

# 显示排序后的统计结果
na_stats_sorted.show()

+-----------+---------------+---------------+
|      Games|Weight_NA_Count|Height_NA_Count|
+-----------+---------------+---------------+
|1956 Summer|           2789|           2785|
|1992 Summer|           2504|           2524|
|1996 Summer|           1821|           1871|
|1960 Summer|            444|            381|
|1984 Summer|            423|            422|
|1972 Summer|            376|            286|
|1976 Summer|            361|            358|
|2012 Summer|            360|            168|
|1988 Summer|            307|            318|
|1964 Summer|            278|            272|
|1980 Summer|            224|            230|
|2016 Summer|            223|            176|
|2008 Summer|            159|            151|
|2000 Summer|            126|            123|
|1968 Summer|             95|             95|
|2004 Summer|             37|             36|
+-----------+---------------+---------------+

In [26]:
# 计算总行数
total_rows = spark_df.count()

# 计算每列缺失值的数目和百分比
missing_data_stats = spark_df.select(
    [(count(when(col(c).isNull(), c)) / total_rows).alias(c + "_missing_percentage") for c in spark_df.columns]
)

# 显示缺失数据的百分比
missing_data_stats.show(truncate=False)

+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+
|ID_missing_percentage|Name_missing_percentage|Sex_missing_percentage|Age_missing_percentage|Height_missing_percentage|Weight_missing_percentage|Team_missing_percentage|NOC_missing_percentage|Games_missing_percentage|Year_missing_percentage|Season_missing_percentage|City_missing_percentage|Sport_missing_percentage|Event_missing_percentage|Medal_missing_percentage|
+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+
|0.0                  |0.0                    |0.0                   |0.009644444963067551  |0.05948866354714868      |0.06141988634374599      |0.0                    |0.0                   |0.0                     |0.0                    |0.0                      |0.0                    |0.0                     |0.0                     |0.8574162456095312      |
+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+

In [27]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, when, avg

# 创建 SparkSession
spark = SparkSession.builder.appName("OlympicsEDA").getOrCreate()

# 读取使用分号分隔符的新 CSV 文件
semicolon_csv_file_path = "E:\\hku\\cloud cluster\\ex4\\after1958_semicolon.csv"
spark_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("encoding", "UTF-8") \
    .option("delimiter", ";") \
    .csv(semicolon_csv_file_path)

# 计算总行数
total_rows = spark_df.count()

# 计算每列缺失值的数目和百分比
missing_data_stats = spark_df.select(
    [(count(when(col(c).isNull(), c)) / total_rows).alias(c + "_missing_percentage") for c in spark_df.columns]
)

# 显示缺失数据的百分比
missing_data_stats.show(truncate=False)

# 计算 Age、Height 和 Weight 列的平均值
avg_values = spark_df.select(
    avg(col("Age")).alias("avg_age"),
    avg(col("Height")).alias("avg_height"),
    avg(col("Weight")).alias("avg_weight")
).collect()[0]

avg_age = avg_values["avg_age"]
avg_height = avg_values["avg_height"]
avg_weight = avg_values["avg_weight"]

# 用平均值填充 Age、Height 和 Weight 列中的 null 值
spark_df = spark_df.fillna({"Age": avg_age, "Height": avg_height, "Weight": avg_weight})

# 验证填充是否成功
spark_df.select("Age", "Height", "Weight").show(5)

+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+
|ID_missing_percentage|Name_missing_percentage|Sex_missing_percentage|Age_missing_percentage|Height_missing_percentage|Weight_missing_percentage|Team_missing_percentage|NOC_missing_percentage|Games_missing_percentage|Year_missing_percentage|Season_missing_percentage|City_missing_percentage|Sport_missing_percentage|Event_missing_percentage|Medal_missing_percentage|
+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+
|0.0                  |0.0                    |0.0                   |0.009644444963067551  |0.05948866354714868      |0.06141988634374599      |0.0                    |0.0                   |0.0                     |0.0                    |0.0                      |0.0                    |0.0                     |0.0                     |0.8574162456095312      |
+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+

+----+------+------+
| Age|Height|Weight|
+----+------+------+
|24.0| 180.0|  80.0|
|23.0| 170.0|  60.0|
|31.0| 172.0|  70.0|
|30.0| 159.0|  55.5|
|34.0| 159.0|  55.5|
+----+------+------+
only showing top 5 rows

In [28]:
# 计算总行数
total_rows = spark_df.count()

# 计算每列缺失值的数目和百分比
missing_data_stats = spark_df.select(
    [(count(when(col(c).isNull(), c)) / total_rows).alias(c + "_missing_percentage") for c in spark_df.columns]
)

# 显示缺失数据的百分比
missing_data_stats.show(truncate=False)

+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+
|ID_missing_percentage|Name_missing_percentage|Sex_missing_percentage|Age_missing_percentage|Height_missing_percentage|Weight_missing_percentage|Team_missing_percentage|NOC_missing_percentage|Games_missing_percentage|Year_missing_percentage|Season_missing_percentage|City_missing_percentage|Sport_missing_percentage|Event_missing_percentage|Medal_missing_percentage|
+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+
|0.0                  |0.0                    |0.0                   |0.0                   |0.0                      |0.0                      |0.0                    |0.0                   |0.0                     |0.0                    |0.0                      |0.0                    |0.0                     |0.0                     |0.8574162456095312      |
+---------------------+-----------------------+----------------------+----------------------+-------------------------+-------------------------+-----------------------+----------------------+------------------------+-----------------------+-------------------------+-----------------------+------------------------+------------------------+------------------------+

In [29]:
output_csv_file_path = "E:\\hku\\cloud cluster\\ex4\\after1958_filled2.csv"
# 将 Spark DataFrame 写入一个目录
temp_output_path = "E:\\hku\\cloud cluster\\ex4\\after1958_filled_temp"
spark_df.write \
    .option("header", "true") \
    .option("delimiter", ",") \
    .mode("overwrite") \
    .csv(temp_output_path)

# 合并文件
import shutil
from pathlib import Path

# 读取临时目录中的所有 part 文件并合并到一个文件中
output_file = Path(output_csv_file_path)
with open(output_file, 'wb') as wfd:
    for part_file in Path(temp_output_path).rglob('part-*'):
        with open(part_file, 'rb') as fd:
            shutil.copyfileobj(fd, wfd)

# 删除临时目录
shutil.rmtree(temp_output_path)