In [3]:
!pip install  pyspark 
!pip install findspark

Requirement already satisfied: pyspark in c:\users\27421\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\27421\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\27421\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: findspark in c:\users\27421\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.1)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\27421\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

(base) PS C:\Users\27421> conda activate final
(final) PS C:\Users\27421> conda install findspark
Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - findspark

Current channels:

  - defaults

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.


(final) PS C:\Users\27421>

# 创建 SparkSession
spark = SparkSession.builder \
    .appName("ExcelExample") \
    .config("spark.jars.packages", "com.crealytics:spark-excel_2.12:0.13.5") \
    .getOrCreate()

# 读取 Excel 文件
excel_file_path = "E:/hku/cloud cluster/ex4/athlete_final.xlsx"
excel_df = spark.read.format("com.crealytics.spark.excel") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("dataAddress", "'Sheet1'!A1") \
    .load(excel_file_path)

# 显示数据
excel_df.show()

ModuleNotFoundError: No module named 'findspark'

In [ ]:
# 打印Schema
df.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: long (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

In [ ]:
# 显示数据的前几行（类似于.head()）
df.show(5)

+---+--------------------+---+----+------+------+-------+---+-----------+----+------+---------+----------+--------------------+-----+
| ID|                Name|Sex| Age|Height|Weight|   Team|NOC|      Games|Year|Season|     City|     Sport|               Event|Medal|
+---+--------------------+---+----+------+------+-------+---+-----------+----+------+---------+----------+--------------------+-----+
|  1|           A Dijiang|  M|24.0| 180.0|  80.0|  China|CHN|1992 Summer|1992|Summer|Barcelona|Basketball|Basketball Men's ...|  NaN|
|  2|            A Lamusi|  M|23.0| 170.0|  60.0|  China|CHN|2012 Summer|2012|Summer|   London|      Judo|Judo Men's Extra-...|  NaN|
| 10|Einar Ferdinand "...|  M|26.0|   NaN|   NaN|Finland|FIN|1952 Summer|1952|Summer| Helsinki|  Swimming|Swimming Men's 40...|  NaN|
| 12|   Jyri Tapani Aalto|  M|31.0| 172.0|  70.0|Finland|FIN|2000 Summer|2000|Summer|   Sydney| Badminton|Badminton Men's S...|  NaN|
| 13|  Minna Maarit Aalto|  F|30.0| 159.0|  55.5|Finland|FIN|1996 Summer|1996|Summer|  Atlanta|   Sailing|Sailing Women's W...|  NaN|
+---+--------------------+---+----+------+------+-------+---+-----------+----+------+---------+----------+--------------------+-----+
only showing top 5 rows

In [ ]:
# 获取数值列的统计信息
df.describe().show()

+-------+-----------------+--------------------+------+------+------+------+-----------+------+-----------+------------------+------+------+---------+--------------------+------+
|summary|               ID|                Name|   Sex|   Age|Height|Weight|       Team|   NOC|      Games|              Year|Season|  City|    Sport|               Event| Medal|
+-------+-----------------+--------------------+------+------+------+------+-----------+------+-----------+------------------+------+------+---------+--------------------+------+
|  count|           186069|              186069|186069|186069|186069|186069|     186069|186069|     186069|            186069|186069|186069|   186069|              186069|186069|
|   mean|68046.67736162391|                NULL|  NULL|   NaN|   NaN|   NaN|       NULL|  NULL|       NULL|1987.1543352197302|  NULL|  NULL|     NULL|                NULL|   NaN|
| stddev|39166.59551770264|                NULL|  NULL|   NaN|   NaN|   NaN|       NULL|  NULL|       NULL| 20.06994093024923|  NULL|  NULL|     NULL|                NULL|   NaN|
|    min|                1|  Gabrielle Marie...|     F|  11.0| 127.0|  25.0|30. Februar|   AFG|1948 Summer|              1948|Summer|Athina|  Archery|Archery Men's Ind...|Bronze|
|    max|           135568|            zzet nce|     M|   NaN|   NaN|   NaN|   Zimbabwe|   ZIM|2016 Summer|              2016|Summer| Tokyo|Wrestling|Wrestling Women's...|Silver|
+-------+-----------------+--------------------+------+------+------+------+-----------+------+-----------+------------------+------+------+---------+--------------------+------+

In [ ]:

# 计算总行数
total_rows = df.count()
print(f"Total Rows: {total_rows}")

Total Rows: 186069

In [ ]:
# 计算去重后的行数
distinct_rows = df.distinct().count()
print(f"Distinct Rows: {distinct_rows}")

Distinct Rows: 185972

In [ ]:

# 打印DataFrame的列名和数据类型
df.dtypes

[('ID', 'bigint'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('Height', 'double'),
 ('Weight', 'double'),
 ('Team', 'string'),
 ('NOC', 'string'),
 ('Games', 'string'),
 ('Year', 'bigint'),
 ('Season', 'string'),
 ('City', 'string'),
 ('Sport', 'string'),
 ('Event', 'string'),
 ('Medal', 'string')]

In [ ]:

# 获取每列的非空值数和空值数
for col in df.columns:
    non_null_count = df.filter(df[col].isNotNull()).count()
    null_count = df.filter(df[col].isNull()).count()
    print(f"Column: {col}, Non-null values: {non_null_count}, Null values: {null_count}")

Column: ID, Non-null values: 186069, Null values: 0
Column: Name, Non-null values: 186069, Null values: 0
Column: Sex, Non-null values: 186069, Null values: 0
Column: Age, Non-null values: 186069, Null values: 0
Column: Height, Non-null values: 186069, Null values: 0
Column: Weight, Non-null values: 186069, Null values: 0
Column: Team, Non-null values: 186069, Null values: 0
Column: NOC, Non-null values: 186069, Null values: 0
Column: Games, Non-null values: 186069, Null values: 0
Column: Year, Non-null values: 186069, Null values: 0
Column: Season, Non-null values: 186069, Null values: 0
Column: City, Non-null values: 186069, Null values: 0
Column: Sport, Non-null values: 186069, Null values: 0
Column: Event, Non-null values: 186069, Null values: 0
Column: Medal, Non-null values: 186069, Null values: 0

In [ ]:
# 显示数据框架架构
df.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: long (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

In [ ]:
# 注册DataFrame为临时视图
df.createOrReplaceTempView("df_view")

# 获取每列的NA值数
for col in df.columns:
    na_count = spark.sql(f"SELECT COUNT(*) as na_count FROM df_view WHERE {col} = 'NA'").collect()[0]["na_count"]
    print(f"Column: {col}, NA values: {na_count}")

Column: ID, NA values: 0
Column: Name, NA values: 0
Column: Sex, NA values: 0
Column: Age, NA values: 0
Column: Height, NA values: 0
Column: Weight, NA values: 0
Column: Team, NA values: 0
Column: NOC, NA values: 0
Column: Games, NA values: 0
Column: Year, NA values: 0
Column: Season, NA values: 0
Column: City, NA values: 0
Column: Sport, NA values: 0
Column: Event, NA values: 0
Column: Medal, NA values: 0

In [ ]:


# 定义正则表达式模式来匹配 "aaaa Summer" 格式
pattern = r"^\d{4} Summer$"

# 使用正则表达式提取并过滤符合格式的行
invalid_games_df = df.filter(regexp_extract(col("Games"), pattern, 0) == "")

# 显示不符合格式的行
invalid_games_count = invalid_games_df.count()

if invalid_games_count > 0:
    print(f"以下行的 'Games' 列不符合 'aaaa Summer' 格式:")
    invalid_games_df.show(invalid_games_count, truncate=False)
else:
    print("所有行的 'Games' 列均符合 'aaaa Summer' 格式.")

TypeError: 'str' object is not callable

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

# 创建SparkSession
spark = SparkSession.builder.appName("OlympicsEDA").getOrCreate()

# 转换DataFrame为RDD
rdd = df.rdd

# 过滤Weight和Height为'NA'的记录
na_rdd = rdd.filter(lambda row: row['Weight'] == 'NA' or row['Height'] == 'NA')

# 映射为 (Games, (Weight_count, Height_count)) 形式
mapped_rdd = na_rdd.map(lambda row: (row['Games'], (1 if row['Weight'] == 'NA' else 0, 1 if row['Height'] == 'NA' else 0)))

# 进行聚合
result_rdd = mapped_rdd.reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))

# 转换为DataFrame
result_rows = result_rdd.map(lambda x: Row(Games=x[0], NA_Weight_Count=x[1][0], NA_Height_Count=x[1][1]))
result_df = spark.createDataFrame(result_rows)

# 显示结果
result_df.show()

+-----------+---------------+---------------+
|      Games|NA_Weight_Count|NA_Height_Count|
+-----------+---------------+---------------+
|        SWE|              5|              0|
|        LUX|              2|              0|
|1984 Summer|            423|            422|
|1964 Summer|            278|            272|
|        NED|              2|              0|
|2008 Summer|            159|            150|
|1988 Summer|            307|            318|
|2000 Summer|            126|            123|
|1976 Summer|            361|            358|
|        BER|              2|              0|
|        CAN|              9|              0|
|1952 Summer|           6197|           6197|
|1948 Summer|           5337|           5324|
|1996 Summer|           1820|           1870|
|1972 Summer|            376|            286|
|        NZL|              1|              0|
|        COK|              1|              0|
|        RSA|              1|              0|
|1956 Summer|           2783|           2779|
|1968 Summer|             95|             95|
+-----------+---------------+---------------+
only showing top 20 rows

In [ ]:
contains_swe = rdd.filter(lambda row: row['Games'] == 'SWE').count() > 0
if contains_swe:
    print("Games 列中包含 'SWE'")
else:
    print("Games 列中不包含 'SWE'")

Games 列中包含 'SWE'

In [ ]:
# 转换DataFrame为RDD
rdd = df.rdd

# 过滤出Games列中值为'SWE'的行
swe_rows = rdd.filter(lambda row: row['Games'] == 'SWE').collect()

# 显示结果
for row in swe_rows:
    print(row)

Row(ID=3957, Name='"Martha Louise ""Mrta"" Andersson (-Ingemansson', Sex=' -Karlsson)"', Age='F', Height='23', Weight='NA', Team='NA', NOC='Sweden', Games='SWE', Year='1948 Summer', Season='1948', City='Summer', Sport='London', Event='Gymnastics', Medal="Gymnastics Women's Team All-Around")
Row(ID=127281, Name='"Nils Gustaf Fredrik Bror ""Hans"" von Blixen-Finecke', Sex=' Jr."', Age='M', Height='35', Weight='NA', Team='NA', NOC='Sweden', Games='SWE', Year='1952 Summer', Season='1952', City='Summer', Sport='Helsinki', Event='Equestrianism', Medal="Equestrianism Men's Three-Day Event, Individual")
Row(ID=127281, Name='"Nils Gustaf Fredrik Bror ""Hans"" von Blixen-Finecke', Sex=' Jr."', Age='M', Height='35', Weight='NA', Team='NA', NOC='Sweden', Games='SWE', Year='1952 Summer', Season='1952', City='Summer', Sport='Helsinki', Event='Equestrianism', Medal="Equestrianism Men's Three-Day Event, Team")
Row(ID=127281, Name='"Nils Gustaf Fredrik Bror ""Hans"" von Blixen-Finecke', Sex=' Jr."', Age='M', Height='39', Weight='NA', Team='NA', NOC='Sweden', Games='SWE', Year='1956 Summer', Season='1956', City='Summer', Sport='Stockholm', Event='Equestrianism', Medal="Equestrianism Men's Three-Day Event, Individual")
Row(ID=127281, Name='"Nils Gustaf Fredrik Bror ""Hans"" von Blixen-Finecke', Sex=' Jr."', Age='M', Height='39', Weight='NA', Team='NA', NOC='Sweden', Games='SWE', Year='1956 Summer', Season='1956', City='Summer', Sport='Stockholm', Event='Equestrianism', Medal="Equestrianism Men's Three-Day Event, Team")